html {
  font-size: min(0.05208334vw, 1px);
}
/* tablet */
@media screen and (max-width: 1024px) {
  /* html {
  font-size: 0.13vw;
  }  */
  html {
    font-size: .27777778vw;
  }
}
/* mobile */
@media screen and (max-width: 600px) {
  html {
    font-size: .27777778vw;
  }
}
h2,
h3,
h4 {
  position: relative;
  font-weight: 700;
}
h5{font-weight: 600;}

.fw-bold {
  font-weight: 700;
}
.fw-medium {
  font-weight: 500;
}


.font40 {
  font-size:40rem;
}

.font32 {
  font-size:32rem;
}

.font28 {
  font-size:28rem;
}
.font24 {
  font-size:24rem;
}


.font22 {
  font-size:22rem;
}
.font20 {
  font-size:20rem;
}

.font18 {
  font-size:18rem;
}
/* @media screen and (max-width: 1024px) {
  
.font40 {
  font-size:40rem;
}

.font32 {
  font-size:32rem;
}

.font28 {
  font-size:28rem;
}
.font24 {
  font-size:24rem;
}

.font20 {
  font-size:20rem;
}

.font22 {
  font-size:22rem;
}

.font18 {
  font-size:18rem;
} 

}*/
@media screen and (max-width: 1024px) {
  
.font40 {
  font-size:24rem;
}

.font32 {
  font-size:18rem;
}

.font28 {
  font-size:16rem;
}
.font24 {
  font-size:16rem;
}


.font22 {
  font-size:16rem;
}

.font20 {
  font-size:16rem;
}
.font18 {
  font-size:14rem;
}

}